<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuframework.admin.mapper.SysMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shuframework.admin.model.SysMenu">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="pid" property="pid" />
		<result column="levels" property="levels" />
		<result column="request_url" property="requestUrl" />
		<result column="menu_type" property="menuType" />
		<result column="enable" property="enable" />
		<result column="sortid" property="sortid" />
		<result column="createtime" property="createtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>

</mapper>
